*
{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
:root
{
  --rojo: #880d1e;
  --black: #000;
  --color1: #f1f3f5;
  --color2: #fff;
  --color3: #6e6e6e;
  --color4: #76767663;
  --color5: #cfcfcf;
  --color6: #FFE7E7;
}
h2,h3,h4,h5,h6,b,a,li,p 
{
  font-family: 'Noto Sans', sans-serif;
}
body 
{
    width: 100%;    
    background: #a4ac86;
}
body::-webkit-scrollbar
{
 display: none;
 
}
body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background: rgba(255, 255, 255, .2);
  border-right: 2px solid #021b79;
}

.infinity 
{
  position: relative;
  margin: auto;
    z-index: 1;
     margin-top: -100px;
}
.infinity div,
.infinity span 
{
  position: absolute;
}
.infinity div 
{
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  animation: rotate 6.9s linear infinite;
}
.infinity div span 
{
  left: -8px;
  top: 50%;
  margin: -8px 0 0;
  width: 16px;
  height: 16px;
  display: block;
  background: #880d1e;
  box-shadow: 2px 2px 8px rgba(255, 76, 96, 0.09);
  border-radius: 50%;
  transform: rotate(90deg);
  animation: move 6.9s linear infinite;
}
.infinity div span:before,
.infinity div span:after 
{
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}
.infinity div span:before 
{
  animation: drop1 0.8s linear infinite;
}
.infinity div span:after 
{
  animation: drop2 0.8s linear infinite 0.4s;
}
.infinity div:nth-child(2) 
{
  animation-delay: -2.3s;
}
.infinity div:nth-child(2) span 
{
  animation-delay: -2.3s;
}
.infinity div:nth-child(3)
 {
  animation-delay: -4.6s;
}
.infinity div:nth-child(3) span 
{
  animation-delay: -4.6s;
}
.infinityChrome 
{
  margin: auto;
   margin-top: -60px;
}
.infinityChrome div 
{
  position: absolute;
  width: 16px;
  height: 16px;
  background:#880d1e;
  box-shadow: 2px 2px 8px rgba(255, 76, 96, 0.09);
  border-radius: 50%;
  animation: moveSvg 6.9s linear infinite;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  transform: scaleX(-1);
}
.infinityChrome div:before,
.infinityChrome div:after 
{
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}
.infinityChrome div:before
 {
  animation: drop1 0.8s linear infinite;
}
.infinityChrome div:after 
{
  animation: drop2 0.8s linear infinite 0.4s;
}
.infinityChrome div:nth-child(2) 
{
  animation-delay: -2.3s;
}
.infinityChrome div:nth-child(3) 
{
  animation-delay: -4.6s;
}
@keyframes moveSvg 
{
  0% {
    offset-distance: 0%;
  }
  25% {
    background: #880d1e;
  }
  75% {
    background: #880d1e;
  }
  100% {
    offset-distance: 100%;
  }
}
@keyframes rotate 
{
  50% {
    transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%,
  100% {
    margin-left: -60px;
  }
}
@keyframes move 
{
  0%,
  50% {
    left: -8px;
  }
  25% {
    background: #880d1e;
  }
  75% {
    background: #880d1e;
  }
  50.0001%,
  100% {
    left: auto;
    right: -8px;
  }
}
@keyframes drop1 
{
  100% {
    transform: translate(32px, 8px) scale(0);
  }
}
@keyframes drop2 
{
  0% {
    transform: translate(0, 0) scale(0.9);
  }
  100% {
    transform: translate(32px, -8px) scale(0);
  }
}



.header
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
}

.logo img
{
  width: 80px;
  height: 80px;
  margin-top: -40px;
}
.links
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a 
{
  text-decoration: none;
  margin: 0 10px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #880d1e;
}
.buscar
{
   background: #efefef;
   width: 350px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   padding: 0 15px;
}
.buscar input
{
    width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.buscar input::placeholder
{
  color: #880d1e;
}
.buscar i
{
  font-size: 20px;
  width: 18px;
  color: #880d1e;
}
.icons i 
{
  height: 100%;
  cursor: pointer;
  margin: 0 15px;
  display: inline-block;
  font-size: 22px;
    color: #880d1e;
}
.user-perfil img 
{
  width: 40px;
  border-radius: 30%;
  cursor: pointer;
}
.barra
{
  background: #880d1e;
  margin-top: 100px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.7s;
  transition-property: left;
  z-index: 999;
}
.barra img
{
  width: 100px;
  height: 100px;
  border-radius: 30%;
  margin-bottom: 10px;
}
.barra h4
{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;

}
.barra a 
{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
}
.barra i 
{
  font-size: 25px;
  padding-right: 10px;
}
label #barra
{
  z-index: 1;
  color:  #880d1e;
  position: fixed;
  cursor: pointer;
  left: 220px;
  font-size: 20px;
  margin: -10px 0;
  transition: 0.5s;
  transition-property: color;
}
label #barra:hover
{
  color: #568d66;
}
#check:checked ~ .barra
{
  left: -190px;
}
#check:checked ~ .barra a span
{
  display: none;
}
#check:checked ~ .barra a 
{
  
  margin-left: 170px;
  width: 80px;
}
#check
{
  display: none;
}




header, main {
  color: #F2F2F2;
  max-width: 80%;
  padding: 1.5rem 0;
  margin: auto;
}

img {
  border-radius: 8px;
 
  display: block;
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
img:hover {
  transform: scale(1.1);
}

.gallery {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 100px;
}
.gallery img
{
  box-shadow: 0 0 9px rgba(100, 100, 100, 0.7);
}
.gallery > div:nth-of-type(odd) {
  grid-row-end: span 1;
}
.gallery > div:nth-of-type(even) {
  grid-row-end: span 2;
}
